body{
    background-color:#252631;
}

.main{
    color:#FFF;
    height: 90vh;
    margin: 0;
    
}
.title{
    font-size:6em;
    display: grid;
    place-items: center center;
}

.login{
    display:grid;
    place-items: center center;
}

.submit{
    display:none;
}
