body{
    background-color:#4D4C7A;
}

.main{
    color:#FFF;
    height: 90vh;
    margin: 0;
    
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}


#glcanvas{
    width: 90vw;
    height: 80vh;
}

.title{
    color:#FFF;
    font-size:4em;
    display: grid;
    place-items: center center;
}

.logout{
    color:#FFF;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

.login{
    display:grid;
    place-items: center center;
}

.submit{
    display:none;
}
.incorrect{
    color:rgb(196, 0, 0);
    font-size:1em;
    display: grid;
    place-items: center center;

}

.board{
  
  position: relative;
  width: 50vw;
  height: 70vh;
  min-width: 500px;
  min-height: 700px;
  border: 5px solid #FFFFFF;
  display: flex;
  margin: 5%;
  background: rgba(255, 255, 255, 0.38);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen{
  display: flex;
  justify-content: center;
  
}

.card {
    width: 5em;
    height: 7em;
    min-width: 5em;
    min-height: 7em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0,1);
    border-radius: 0.25em;
    padding: .5em .5em;
    font-family: Consolas, monaco, monospace;
    margin: .5em;
    font-size: 1em;
    cursor: pointer;
    
  }
  
.deck{
  width: 5em;
    height: 7em;
    background-color: #ffffff;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    bottom: 15vh;
    right: 10vw;
    position: absolute;
}

.player.zone{
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 5vh;
}

.opponent.zone{
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  top: 5vh;
}

.frontguard > .opponent{
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 8em;
}

.rearguard > .opponent{
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 16em;
}

.damagezone{
  position:absolute;
  height: 20em;
  width: 7em;
  border: 5px solid #FFFFFF;
  bottom:10vh;
  left: 11vw;
  margin: 0;
  padding:0 ;
  z-index: -99;
}

.guardzone{
  position: absolute;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.frontguard{
  position: absolute;
  flex-direction: row;
  display: flex;
}
.rearguard{
  position: absolute;
  flex-direction: row;
  display: flex;
}

.frontguard > .player{
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
}

.rearguard > .player{
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 10em;
}

.faceDown{
    width: 5em;
    height: 7em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0,1);
    border-radius: 0.25em;
    
    display: inline-flex;
    
}
  
.card > p {
    margin: 0;
    font-size: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
}
  
  .flipVH {
          transform: scale(-1, -1);
          position:relative;
         margin-bottom: 0;
  }
  
  p.flipVH {
     margin: 0;
     padding:0;
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .mirror{
    margin-top:2em;
    display:block;
  }
  .hand{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    position: fixed;
    bottom: 5vh;
    left: 30vw;
  }
  
  .rank{
     text-shadow: 10px;
    font-size: 2em;
    
  
  }
  
  .suit{
    text-shadow: 10px;
    font-size: 2em;
    
  }
  