body{
    background-color:#252631;
}

.main{
    color:#FFF;
    height: 90vh;
    margin: 0;
    
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.board{
    display: flex;
    align-items: center;
    justify-content: center;
}
#glcanvas{
    width: 90vw;
    height: 80vh;
}

.title{
    color:#FFF;
    font-size:4em;
    display: grid;
    place-items: center center;
}

.logout{
    color:#FFF;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

.login{
    display:grid;
    place-items: center center;
}

.submit{
    display:none;
}
.incorrect{
    color:rgb(196, 0, 0);
    font-size:1em;
    display: grid;
    place-items: center center;

}



.card {
    width: 5em;
    height: 7em;
    min-width: 5em;
    min-height: 7em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0,1);
    border-radius: 0.25em;
    padding: .5em .5em;
    font-family: Consolas, monaco, monospace;
    margin: 1em;
    font-size: 1em;
    cursor: pointer;
  }
  
.deck{
  width: 5em;
    height: 7em;
    background-color: #ffffff;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.faceDown{
    width: 5em;
    height: 7em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0,1);
    border-radius: 0.25em;
    
    display: inline-flex;
    
}
  
  .card > p {
    margin: 0;
    font-size: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
  }
  
  .flipVH {
          transform: scale(-1, -1);
          position:relative;
         margin-bottom: 0;
  }
  
  p.flipVH {
     margin: 0;
     padding:0;
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .mirror{
    margin-top:2em;
    display:block;
  }
  .hand{
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: center;
    width: 90vw;
    flex-wrap: wrap;
  }
  
  .rank{
     text-shadow: 10px;
    font-size: 2em;
    
  
  }
  
  .suit{
    text-shadow: 10px;
    font-size: 2em;
    
  }
  